{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Walnut iPad Stand</title>
  <link rel="stylesheet" href="{% static 'home/css/style.css' %}">
</head>

<body>
  <div class="magsafe">
    <div class="magsafe__inner container">
      <div style="width: 65%;">
        <img class="magsafe__left"
          src="https://grovemade.imgix.net/https%3A%2F%2Fgrovemade.com%2Fshop-static%2Fshop%2Fvariant%2Fwalnut-ipad-stand-galA-H2.jpg%3F_v%3D1603844164.1868935?auto=format&ixlib=python-1.1.2&w=900&s=97f6f3fd80fcedff654dfe6a789ccfcb"
          alt="">
      </div>
      <div class="magsafe__right">
        <p class="wood">Walnut iPad Stand</p>
        <p class="walnut">Walnut</p>
        <div class="a">
        </div>
        <p class="price">$80</p>
        <a class="button__add" href="{% url 'basket_add' 3 %}">ADD A CARD</a>
        <p class="ship__date">Ships In 2-3 Weeks</p>
      </div>
    </div>
  </div>
</body>

</html>